main.product-listing {
    display: flex;
}

.sidebar {
    width: 250px;
    padding: 20px;
    border-right: 1px solid #ddd;
    /*height: 100vh;*/
    overflow-y: auto;
}

.card-list-container {
    flex-grow: 1;
    padding: 20px;
}

.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    margin: 5px;
}
